paddlepaddle==2.3.2
paddleocr==2.6.1.0
spacy
borb==2.0.27
pytesseract
ftfy
tesseract
django
psycopg2
black
filetype
django-jazzmin
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
apscheduler