{% extends "registration/base.html" %}
{% load static %}
{% block title %}Log in{% endblock title %}

{% block content %}
<div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center">
        <h2>Log in</h2>

        {% if form.errors %}
            <div class="text-danger">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
              <input type="{{form.username.widget_type}}" name="{{form.username.name}}" class="form-control" id="{{form.username.id_for_label}}" maxlength="150" autocomplete="username" required autofocus>
            </div>
            <div class="mb-3">
              <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
              <input type="{{form.password.widget_type}}" name="{{form.password.name}}" class="form-control" id="{{ form.password.id_for_label }}" autocomplete="current-password" required>
            </div>
   
         
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
            <input type="hidden" name="next" value="{{ next }}">
          </form>

          <div>

        <div class='mt-3'>
            <p>Don't have an account? <a href="/signup">Sign up</a></p>
        </div>
    </div>
</div>
{% endblock content %}



