{% extends "receipts_processing/base.html" %}

{% block content %}
<div class="d-flex flex-column h-100 justify-content-center align-items-center">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
  
    <div class="mb-3">
      <label for="receiptFile" class="form-label fw-bold">Upload a receipt</label>
      <input class="form-control" type="file" name="receipt" id="receiptFile" required />
    </div>
  
    <div class="d-grid">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>

{% endblock %}