{% extends "receipts_processing/base.html" %}

{% block content %}
<div class="d-flex flex-column h-100 justify-content-center align-items-center">
  <form method="POST" enctype="multipart/form-data" onsubmit='disableSubmitButton()' class="{% if form.errors %} was-validated {% endif %}">
    {% csrf_token %}

    <div class="mb-3">
      <label for="{{form.receipt_file.id_for_label}}" class="form-label fw-bold">{{ form.receipt_file.label }}</label>
      {{form.receipt_file}}

      {% if form.receipt_file.errors %}
        <div class="invalid-feedback">
        {% for error in form.receipt_file.errors %}
          <p>{{ error|escape }}</p>
        {% endfor %}
        </div>
      {% endif %}

    </div>
    <div class="d-grid">
      <button id="submitReceiptButton" type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>

<script>
  function disableSubmitButton() {
    var btn = document.getElementById('submitReceiptButton');
    btn.disabled = true;
    btn.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Uploading...'
}
</script>

{% endblock %}