{% extends "receipts_processing/base.html" %}

{% load humanize %}
{% block content %}

<div class="container">
    <div class="row mb-3">
        <div class="col"><h3>My Receipts</h3></div>
        <div class="col">
            <form class="form-inline">
                <div class="row"> 
                    <div class="col"><input class="form-control" type="text" name="search" id="search" placeholder="Search for receipts..."></div>
                    <div class="col"><button class="btn text-white" type="submit" style="background-color:#17a2b8;">Search</button></div>
                </div>
            </form>
        </div>
    </div>

<div class="row">
    <table class="table table-bordered table-hover rounded">
        <thead>
            <tr>
                <th>No.</th>
                <th>File</th>
                <th>Business Name</th>
                <th>Invoice Date</th>
                <th>Invoice Total</th>
                <th>Created</th>
            </tr>
        </thead>
    
        <tbody>
            {% for receipt in receipts %}
                <tr class="anchor-row" onclick="window.location='/receipts/{{receipt.id}}'">
                    <td>{{ forloop.counter }}</td>
                    <td>{% if receipt.type == 'application/pdf' %} <i class="bi bi-filetype-pdf" style = "font-size: 1.3rem; color: #b51010"></i>  {% else %} <i class="bi bi-file-image" style="font-size: 1.3rem; color: #e3971e"></i> {% endif %} {{receipt.filename}}</td>
                    <td>{{receipt.business_name}}</td>
                    <td>{{receipt.date|date}}</td>
                    <td>{{receipt.total|default_if_none:"-"}}</td>
                    <td>{{receipt.created_at|naturaltime}}</td>
                </tr>          
            {% endfor %}
        </tbody>
    
    </table>
</div>
</div>


{% endblock %}
