{% extends "receipts_processing/base.html" %} 
{% load humanize %}
{% block content %}

<div class="h-75">
    <div class="row h-100">
      <div class="col">
        <h3 class="mb-3">Receipt details</h3>
        <div>
          <p><strong>Business Name: </strong> {{receipt.business_name}}</p>
          <p><strong>Invoice Date: </strong> {{receipt.date|date}}</p>
          <p><strong>Invoice Total: </strong> {{receipt.total|default_if_none:"-"}}</p>
          {% comment %} https://docs.djangoproject.com/en/4.1/ref/contrib/humanize/ {% endcomment %}
          <p>Created {{receipt.created_at|naturaltime}}</p>
        </div>
        <div>
          <a
            href="/receipts/{{receipt.id}}/file/download"
            class="btn btn-primary"
            role="button"
            ><i class="bi bi-cloud-arrow-down" style="font-size: 1.2rem"></i> Download
          </a>
          <form action="/receipts/{{receipt.id}}/delete" class="d-inline" onsubmit="return confirm('Are you sure you want to delete this receipt?')">
            <button
              class="btn btn-danger"
              role="button"
              type="submit"
              ><i class="bi bi-trash" style="font-size: 1.2rem"></i> Remove
            </button>
        </form>
        </div>
      </div>
      <div class="col-8 h-100">
        {% if receipt.type == 'application/pdf' %}
          <embed src="/receipts/{{receipt.id}}/file/view" type="{{receipt.type}}" class="w-100 h-100 rounded">
        {% else %}
          <img class="img-fluid rounded w-50" src="/receipts/{{receipt.id}}/file/view"/>
        {% endif %}
        
      </div>
    </div>
</div>

{% endblock %}
